<%- include("header") -%>

<h2>This is an about page!</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta et, consequuntur dignissimos quo dolore assumenda neque voluptatem reprehenderit dicta vel. Pariatur exercitationem, laborum inventore numquam porro est provident quisquam doloremque. Soluta culpa laborum modi.</p>

<%- include("footer") -%>
